{% extends "base.html" %}
{% set active_page = "gifs" %}

{% block tag %}
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="./static/app.css">
{% endblock %}

{% block content %}
<h1>Gifs</h1>
<div class="container">
  <form id="searchForm">
      <div class="input-group mb-3">
          <input id="searchInput" type="text" class="form-control form-control-lg" placeholder="Search for a gifs"
                 aria-label="Recipient's username"
                 aria-describedby="button-addon2" autofocus="">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-lg" id="searchButton">Search</button>
          </div>
      </div>
  </form>

    <div id="thumbs">

    </div>

</div>
<div class="loader-wrapper">
    <div class="lds-circle"><div></div></div>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
  (function () {
    function giphySearch(keyword) {
      return fetch(`http://api.giphy.com/v1/gifs/search?q=${keyword}&api_key={{ GIPHY_KEY }}&limit=20`)
        .then(response => response.json());
    }

    function appendImage(img, url) {
      let $div = $('<div class="img-wrapper"></div>');
      $('<a class="inner" target="_blank" href=' + url + '></a>').append(img).appendTo($div);
      $('#thumbs').append($div)
    }

    function showLoader() {
      $('.loader-wrapper').addClass('shown');
    }

    function hideLoader() {
      $('.loader-wrapper').removeClass('shown');
    }

    function onImgLoad(img) {
      return new Promise((resolve, reject) => {
        img.onload = resolve;
      });
    }

    (function listenOnFormSubmit() {
      $('#searchForm').submit(async (ev) => {
        ev.preventDefault();

        let $input = $('#searchInput');

        main($input.val());
      });
    })();

    async function main(keyword) {
      const result = await giphySearch(keyword);
      $('#thumbs').html('');
      showLoader();
      // let loadedImageCount = 0;
      let promises = [];
      result.data.forEach(gif => {
        let img = new Image();
        img.src = gif.images.original.url;
        promises.push(onImgLoad(img));
        // img.onload = () => {
        //   loadedImageCount++;
        //   if (loadedImageCount === result.data.length){
        //     hideLoader()
        //   }
        // };
        appendImage(img, gif.url);
      });

      await Promise.all(promises);
      hideLoader();
    }
  })();
</script>
{% endblock %}
