{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<br>
<img src="./static/developme.png" height="250" width="250">
<br>
<br>
<h2 class="subtitle">
  An app built by developers for developers.
</h2>
<br>
<br>
<div class="section section-dark section-summary">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <img src="../static/newsfeed icon.svg" style="height:60px; width:60px;">
            <br>
            <br>
            <div class="description">
              <h4><a href="/newsfeed">Newsfeed</a></h4>
              <p>Keep up to date with the industry by reading the latest tweets about #coding</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <img src="../static/events 2.svg" style="height:60px; width:60px;">
            <br>
            <br>
            <div class="description">
              <h4><a href="/meetup">Events</a></h4>
              <p>Keep up to date with all the latest tech events near you</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <img src="../static/yoga icon.svg" style="height:60px; width:60px;">
            <br>
            <br>
            <div class="description">
              <h4><a href="/meditation">Meditation</a></h4>
              <p>Relax and unwind as you meditate and reap the benefits. Guided meditation avalible</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-dark section-summary">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <img src="../static/gif icon2.png" style="height:60px; width:60px;">
              <br>
              <br>
              <div class="description">
                <h4><a href="/gif">Gifs</a></h4>
                <p>Take your mind out from the developing world by exploring some quality gifs</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <img src="../static/chat.svg" style="height:60px; width:60px;">
              <br>
              <br>
              <div class="description">
                <h4><a href="/questions">Soft Skills</a></h4>
                <p>Develop your communcation skills and improve team work by interacting with your peers</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <img src="../static/profile2.png" style="height:60px; width:60px;">
              <br>
              <br>
              <div class="description">
                <h4><a href="/profile">Profile</a></h4>
                <p>View and edit your personal information</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
