{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<img src="./static/developme.png" height="250" width="250">
<br>
<br>
<h2 class="subtitle">
  An app built by developers for developers.
</h2>
<br>
<div class="section section-dark section-summary">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <img src="../static/newsfeed icon.svg" style="height:60px; width:60px;">
            <br>
            <br>
            <div class="description">
              <h4 class="info-title"> Newsfeed </h4>
              <p>Keep up to date with the industry</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <img src="../static/events 2.svg" style="height:60px; width:60px;">
            <br>
            <br>
            <div class="description">
              <h4 class="info-title"> Events </h4>
              <p>Keep up to date with all the latest coding events</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <img src="../static/yoga icon.svg" style="height:60px; width:60px;">
            <br>
            <br>
            <div class="description">
              <h4 class="info-title"> Meditation </h4>
              <p>Relax and unwind with the meditation timer. Guided meditation available.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-dark section-summary">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <img src="../static/gif icon2.png" style="height:60px; width:60px;">
              <br>
              <br>
              <div class="description">
                <h4 class="info-title"> Gifs </h4>
                <p>Take your mind out from the developing world by exploring some quality gifs</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <img src="../static/chat.svg" style="height:60px; width:60px;">
              <br>
              <br>
              <div class="description">
                <h4 class="info-title"> Soft Skills </h4>
                <p>Develop your communcation skills and improve team work by interacting with your peers</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <img src="../static/profile2.png" style="height:60px; width:60px;">
              <br>
              <br>
              <div class="description">
                <h4 class="info-title"> Profile </h4>
                <p>View and edit your personal information</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
