{% extends "base.html" %}
{% set active_page = "meditation" %}

{% block tag %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A simple Pomo Timer">
  <link rel="stylesheet" type="text/css" href="./static/timer.css">
{% endblock %}

{% block content %}
<h1>Meditation Timer</h1>
<div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
    <a href="#myModal" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Help</a>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Meditation Guide</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p><b>What is meditation?</b></p>
                    <p>Meditation is a set of techniques that are intended to encourage a heightened state of awareness and focused attention.</p>
                    <p><b>How long should I meditate for?</b></p>
                    <p>It is completely up to you. If you are new to meditation we would recommend starting of with 2 minutes and then work your way up.</p>
                    <p><b>What is guided meditation?</b></p>
                    <p>This is something we have added just for you! Clicking on the guided button will talk you through a meditation session that last for 10 minutes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="timer">
      <div class="clock"><span contenteditable="true" id="min">00</span><span>:</span><span contenteditable="true" id="sec">00</span>
        <div class="indicators">Min&nbsp;&nbsp;:&nbsp;&nbsp;Sec</div>
      </div>

    </div>
    <div class="controls">
      <div class='stBtn'>Start</div>
      <div class='refresh'>Reset</div>
      <div class='guidBtn'>Guided</div>
    </div>
  </div>
  <audio id="ado" src="./static/serious-strike.mp3" controls="true"></audio>
  <audio id="adu" src="./static/FastNap10.mp3" controls="true"></audio>
  <!-- <script>
    jQuery.noConflict();
    jQuery(function() {
      jQuery('#myModal').modal({ show: true });
    });
  </script> -->
  {% endblock %}
