{% extends "base.html" %}
{% set active_page = "questions" %}

{% block content %}
<br>
<br>
<h1 class="title">
Question To Ask Your Colleagues Today
</h1>
<br>
<div class="content_kneeboard">
  <h2 class="subtitle">
    Generate a question with buttons below
  </h2>
</div>
<br>
<button id="general" type="button" class="btn btn-outline-secondary">General</button>
<button id="tech" type="button" class="btn btn-outline-secondary">Technical</button>
<button id="random" type="button" class="btn btn-outline-secondary">Random</button>
<br>
<br>
<br>
<br>
<br>
<div class="card text-center">
  <div class="card-header">
    <b>Soft Skills</b>
  </div>
  <div class="card-body">
    <p><b>What are soft skills?</b></p>
    <p>Personal attributes that enable someone to interact effectively and harmoniously with other people.</p>
    <p><b>Examples of Soft Skills:</b></p>
    <li>Patience</li>
    <li>Problem Solving Abilities</li>
    <li>Teamwork/Communication</li>
    <li>Work Ethic</li>
    <br>
    <p><b>Why should I ask a question?</b></p>
    <p>This improves your soft skills by encouraging you to communicate with your peers more.This will create a better environment for your team as you will feel more confident talking to your team and asking for help when needed.</p>
  </div>
</div>
<script>
$("#general").click(function() {
  $(".content_kneeboard").empty();
  $(".content_kneeboard").html('<h2 class="subtitle">{{ q }}</h2>');
});

$("#tech").click(function() {
  $(".content_kneeboard").empty();
  $(".content_kneeboard").html('<h2 class="subtitle">{{ tech_q }}</h2>');
});

$("#random").click(function() {
  $(".content_kneeboard").empty();
  $(".content_kneeboard").html('<h2 class="subtitle">{{ random }}</h2>');
});
</script>
{% endblock %}
