{% extends "base.html" %}
{% set active_page = "questions" %}

{% block content %}
<div class="bs-example" style="margin-left: 1040px;
  margin-top: 0px;
">
    <!-- Button HTML (to Trigger Modal) -->
    <a href="#myModal" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Help</a>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Question Guide</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p><b>Why should I ask a question?</b></p>
                    <p>This improves your soft skills by encouraging you to communicate with your peers more.This will create a better environment for your team as you will feel more confident talking to your team and asking for help when needed.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="title">
Question To Ask Your Colleagues Today
</h1>
<br>
<div class="content_kneeboard">
  <h2 class="subtitle">
    Generate question with buttons below
  </h2>
</div>
<br>
<button id="general" type="button" class="btn btn-dark">General</button>
<button id="tech" type="button" class="btn btn-dark">Technical</button>
<button id="random" type="button" class="btn btn-dark">Random</button>

<script>
$("#general").click(function() {
  $(".content_kneeboard").empty();
  $(".content_kneeboard").html('<h2 class="subtitle">{{ q }}</h2>');
});

$("#tech").click(function() {
  $(".content_kneeboard").empty();
  $(".content_kneeboard").html('<h2 class="subtitle">{{ tech_q }}</h2>');
});

$("#random").click(function() {
  $(".content_kneeboard").empty();
  $(".content_kneeboard").html('<h2 class="subtitle">{{ random }}</h2>');
});
</script>
{% endblock %}
