{% extends "base.html" %}
{% set active_page = "newsfeed" %}

{% block tag %}
<meta http-equiv="refresh" content="60"/>
{% endblock %}

{% block content %}
<h1 class="title">
  Newsfeed
</h1>
<h2 class="subtitle">
  Tweets about #technology
</h2>
<!-- <p>{{statuses}}</p> -->

<div id="flockler_container"></div>
<script type="text/javascript">
var _flockler = _flockler || [];
_flockler.push({
  count: 20,
  refresh: 0,
  site: 7667,
  style: 'wall_v1'
});
(function(d){var f = d.createElement('script');f.async=1;f.src='https://embed-cdn.flockler.com/embed-v2.js';s=d.getElementsByTagName('script')[0];s.parentNode.insertBefore(f,s);})(document);
</script>


{% endblock %}
