{% extends "base.html" %}
{% set active_page = "newsfeed" %}

{% block tag %}
<meta http-equiv="refresh" content="60"/>
{% endblock %}

{% block content %}
<h1 class="title">
  Newsfeed
</h1>
<h2 class="subtitle">
  Tweets about #coding
</h2>

<div class="row" style="padding-left: 100px;">
{% for status in statuses %}
<!-- <div class="col-sm-6"> -->
<div>
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <img class="rounded-circle account-img" src="{{ status.user["profile_image_url"] }}">
      <p class="card-text">@{{ status.user["screen_name"] }}</p>
      <p class="card-text">{{ (status["created_at"])[0:19] }}</p>
      <h5 class="card-title">{{ status["text"] }}</h5>
    </div>
  </div>
</div>
{%endfor%}
</div>

<script>
  (function (win,doc) {
    'use strict';
    var siteURL = 'http://cdevroe.com',
        entries = doc.querySelectorAll('div.card-body > p'),
        i;

    if ( entries.length > 0 ) {
      for (i = 0; i < entries.length; i = i + 1) {
        entries[i].innerHTML = entries[i].innerHTML.replace(/#(\S+)/g,'<a href="'+siteURL+'search/$1" title="Find more posts tagged with #$1">#$1</a>');
      }
    }

  }(this, this.document));
</script>

<!-- <p>{{statuses}}</p> -->

<div id="flockler_container"></div>


{% endblock %}
