{% extends "base.html" %}
{% set active_page = "newsfeed" %}

{% block tag %}
<meta http-equiv="refresh" content="60"/>
{% endblock %}

{% block content %}
<h1 class="title">
  Newsfeed
</h1>
<h2 class="subtitle">
  Tweets about #coding
</h2>

<div class="row" style="padding-left: 100px;">
{% for status in statuses %}
<!-- <div class="col-sm-6"> -->
<div>
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <img class="rounded-circle account-img" src="{{ status.user["profile_image_url"] }}">
      <p class="card-text">@{{ status.user["screen_name"] }}</p>
      <p class="card-text">{{ status["created_at"] }}</p>
      <h5 class="card-title">{{ status["text"] }}</h5>
    </div>
  </div>
</div>
{%endfor%}
</div>

<!-- <p>{{statuses}}</p> -->

<div id="flockler_container"></div>


{% endblock %}
